:root {
  font-size: 1.2rem;
  font-family: tahoma, sans-serif;
}
body {
  position: relative;
  height: 100vh;
  width: 100vw;
}

body {
  background-color: rgb(6, 117, 185);
}

main {
  width: 70vw;
  height: 90vh;
  margin: 5px auto;
  background-color: skyblue;
  position: relative;
  justify-items: center;
  border-radius: 20px;
  border: 2px dashed white;
}
h1 {
  color: antiquewhite;
  text-align: center;
}
.shadowed {
  box-shadow: 4px 6px 4px rgb(0, 0, 0);
}
.score {
  min-height: 50px;
  max-height: 100px;
  min-width: 200px;
  position: absolute;

  color: wheat;
  text-align: center;
  border: 2px solid black;
  border-radius: 10px;
}
#score1 {
  top: 80px;
  left: 50px;
  background-color: rgb(255, 127, 80);
}
#score2 {
  top: 80px;
  right: 50px;
  /*background-color: #1b11b1;*/
}
.stav {
  min-height: 50px;
  max-height: 100px;
  min-width: 200px;
  position: absolute;
  background-color: #1b11b1;
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;
  color: wheat;
}
#stav1 {
  top: 200px;
  left: 50px;
}
#stav2 {
  top: 200px;
  right: 50px;
}
p {
  text-align: center;
  min-height: 70px;

  padding: 20px auto;
}
.lead {
  width: 30vw;
  margin: 0 auto;
  margin-bottom: 5px;
}
.turn {
  font-size: 3rem;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -30px;
  /* padding: auto;*/
  text-align: center;
  min-height: 80px;
  max-width: 40px;
  min-width: 20px;
}
.box {
  display: flex;
  height: 100%;
  width: 100%;
  margin-top: -60px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  box-sizing: border-box;
}
.ovladani {
  height: 50px;
  width: 150px;
  background-color: lightskyblue;
  color: black;
  font-weight: bold;
  text-align: center;
  border: 2px solid black;
  border-radius: 10px;
  padding-top: 20px;
  margin-bottom: 20px;
}
.ovladani:hover,
.ovladani:active {
  transform: scale(1.2);
  background-color: coral;
  cursor: pointer;
}
.cube {
  height: 50px;
  width: 50px;
  background-color: white;
  display: none;
  margin-bottom: 50px;
}
